<md-dialog>
    <md-content class="md-padding">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Translation</h1>
        </md-toolbar>

        <img src="https://media.giphy.com/media/l0HlBGjKUV8KJxDoc/giphy.gif" style="display:block; width:100%; height:auto;"/>
        <h3 style="text-align:center">dog</h3>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(\'not useful\')"> New Translation </md-button>
        <md-button ng-click="close()" class="md-raised md-primary"> Close </md-button>
    </div>
</md-dialog>