<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Translation</h1>
        </md-toolbar>
        <div class="w3-content w3-display-container">
            <div class="w3-display-container mySlides">
              <img src="https://media.giphy.com/media/l0HlBGjKUV8KJxDoc/giphy.gif" style="width:100%">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                test1
              </div>
            </div>

            <div class="w3-display-container mySlides">
              <img src="https://media.giphy.com/media/l0HlBGjKUV8KJxDoc/giphy.gif" style="width:100%">
              <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
                test2
              </div>
            </div>

            <div class="w3-display-container mySlides">
              <img src="https://media.giphy.com/media/l0HlBGjKUV8KJxDoc/giphy.gif" style="width:100%">
              <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                test3
              </div>
            </div>

            <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <!--<img src="https://media.giphy.com/media/l0HlBGjKUV8KJxDoc/giphy.gif" style="display:block; width:100%; height:auto;"/>-->
        <h3 style="text-align:center">dog</h3></md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer(\'not useful\')"> New Translation </md-button>
        <md-button ng-click="closeDialog()" class="md-raised md-primary"> Close </md-button>
    </div>
</md-dialog>