<md-dialog id="translateDialog">
    <md-content class="md-padding">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">{{mTransHeader}}</h1>
        </md-toolbar>
        <md-card id="transSlider" layout="column" layout-align="center center" style="padding-bottom: 10px" >
            <section id="carousel" ng-carousel ng-swipe-right="curSlide=curSlide-1" ng-swipe-left="curSlide=curSlide+1">
                <ul>
                    <li ng-repeat="item in dataArray"><img src="{{item.url}}" /></li>
                </ul>
                <div id="prev-button" ng-click="curSlide=curSlide-1"> &lt; </div>
                <div id="next-button" ng-click="curSlide=curSlide+1">&gt; </div>
            </section>
        </md-card>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="close(); disableTrans(); clearSentenceDisable()"> {{mNewTran}} </md-button>
        <md-button ng-click="close()" class="md-raised md-primary"> {{mClose}} </md-button>
    </div>
</md-dialog>