<md-dialog>
    <md-content class="md-padding" layout="column" layout-align="center center">
        <p>Upload your Contribution</p>
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Photo</label>
        <md-input-container class="md-inline-block">
            <label>Word for Photo</label>
            <input ng-model="word">
        </md-input-container>
    </md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="close()"> Cancel </md-button>
        <md-button ng-click="close()" class="md-primary"> Upload </md-button>
    </section>
</md-dialog>