<!-----Future upload dialog for user submissions----->
<md-dialog>
    <md-content class="md-padding" layout="column" layout-align="center center">
        <p>{{mUploadMsg}}</p>
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md-primary">{{mChoose}}</label>
        <md-input-container class="md-inline-block">
            <label>{{mUploadFill}}</label>
            <input>
        </md-input-container>
    </md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="close()">{{mCancel}} </md-button>
        <md-button ng-click="close()" class="md-primary" disabled="disabled"> {{mUpload}} </md-button>
    </section>
</md-dialog>