.main {
    height: 100%;
    width: 10vh;
}

#micbut {
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    height: 20vh;
}

#mic_icon {
    width: 60%;
    height: 60%;
}

#select {
    text-align: center;
    margin-bottom: 0;
}

#select2 {
    text-align: center;
    font-size: 80%;
    margin-top: -1px;
    margin-bottom: 0;
}

/*-----Chips-----*/
#diyChips {
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}

#diyChip {
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    background: rgb(224,224,224);
    color: rgb(66,66,66);
}
.Wallop-list { margin: 15px 0; }

.Wallop-item img { width: 100%; }

/* Translation Slider CSS */
.jk-carousel {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.jk-carousel .slides-container {
	height: 100%;
	position: relative;
}
.jk-carousel .slides-container .slide .ng-scope img:first-child {
	max-width: 100%;
	max-height: 100%;
}
.jk-carousel .left-arrow-button,.jk-carousel .right-arrow-button {
	position: absolute;
	margin: auto !important;
	top: 0;
	bottom: 0;
}
.jk-carousel .right-arrow-button {
	right: 0;
}
.jk-carousel .md-icon-button {
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
}
.jk-carousel .md-icon-button md-icon {
	color: #ffffff;
	width: 48px;
	height: 48px;
	font-size: 48px;
	cursor: pointer;
	outline: none !important;
}
.jk-carousel .radio-buttons-container {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	width: 100%;
}
.jk-carousel .radio-buttons-container md-radio-button {
	margin-right: 5px;
	outline: none;
}
.jk-carousel .radio-buttons-container md-radio-button .md-off {
	border-color: #ffffff;
}

#transSlider {
    width: 20em;
    height: 13em;
}

/*md-card {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}*/