.main {
    height: 100%;
    width: 10vh;
}

#micbut {
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    height: 20vh;
}

#mic_icon {
    width: 60%;
    height: 60%;
}

#select {
    text-align: center;
    margin-bottom: 0;
}

#select2 {
    text-align: center;
    font-size: 80%;
    margin-top: -1px;
    margin-bottom: 0;
}

/*Slider*/
.wallop-slider {
  width: 100%;
}

.wallop-slider__list {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wallop-slider__item img {
  display: block;
  width: 100%;
}

.wallop-slider__item--current {
  display: block;
  position: static;
}

/*==========  SPECIAL CONFIG  ==========*/
.wallop-slider--rotate .wallop-slider__item--hide-previous,
.wallop-slider--rotate .wallop-slider__item--hide-next {
  display: block;
}
.wallop-slider--rotate .wallop-slider__item--hide-previous {
  -webkit-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -moz-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -ms-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.wallop-slider--rotate .wallop-slider__item--hide-next {
  -webkit-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -moz-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -ms-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../images/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../images/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../images/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../images/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../images/paddle_next_fff.png);
}
