/*-----Activate Microphone Button-----*/
#micbut {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 20vh;
    height: 20vh;
}
#mic_icon {
    width: 60%;
    height: 60%;
}

/*-----Select Language Dialog-----*/
#select {
    text-align: center;
    margin-bottom: 0;
}
#select2 {
    text-align: center;
    font-size: 80%;
    margin-top: -1px;
    margin-bottom: 0;
}

/*-----Speech to Text Display-----*/
#diyChip {
    cursor: text;
    border-radius: 16px;
    display: block;
    margin: 8px 8px 20px 0;
    padding: 0 12px 0 12px;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    background: rgb(224,224,224);
    color: rgb(66,66,66);
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    max-height: 22vh;
    overflow: scroll;
}

/*-----Loading Spinner-----*/
#box, #buttonbox {
    height: 90%;
}

#wheel {
    margin-bottom: 10%;
}

/*-----Main Content-----*/
#mdcardContainer {
    position: relative;
}

#cardActionsAlign {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    z-index: 0;
}