.main {
    height: 100%;
    width: 10vh;
}

#micbut {
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    height: 20vh;
}

#mic_icon {
    width: 60%;
    height: 60%;
}

#select {
    text-align: center;
    margin-bottom: 0;
}

#select2 {
    text-align: center;
    font-size: 80%;
    margin-top: -1px;
    margin-bottom: 0;
}

.Wallop { max-width: 480px; }

.Wallop-list { margin: 15px 0; }

.Wallop-item img { width: 100%; }