<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.5/docs.css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div ng-controller="AppCtrl" layout="column" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp" ng-init="selectLanguage($event)">
<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 flex="" md-truncate="ASL Translator">Speech to ASL Translate</h2>
        <md-button class="md-fab md-mini" aria-label="Select Language" ng-click="selectLanguage($event)">
            <md-tooltip md-direction="bottom" md-visible="false" md-autohide="false">Select Language</md-tooltip>
            <md-icon md-svg-src="images/ic_language_white_48px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Upload">
            <md-tooltip md-direction="bottom" md-visible="false" md-autohide="false">Upload</md-tooltip>
            <md-icon md-svg-src="images/ic_file_upload_white_48px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center centers">
    <md-card flex-gt-sm="100" flex-gt-md="70">
        <md-card-title layout-align="center center">
          <md-card-title-text></md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="center center">
            <md-chips md-enable-chip-edit ng-model="chips"></md-chips>
            <br />
            <br />
            <md-button layout="column" layout-align="center center" id="micbut" class="md-fab" aria-label="Activate Mic" ng-click="printSentence()">
                <md-tooltip md-direction="top" md-visible="false" md-autohide="false">Activate Mic</md-tooltip>
                <md-icon id="mic_icon" md-svg-src="images/ic_mic_white_48px.svg"></md-icon>
            </md-button>
            <p class="md-headline" layout="column" layout-align="center center">Tap and Hold to Capture Audio</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Clear Text</md-button>
          <md-button class="md-raised md-primary" ng-click="viewTranslation($event)">Translate</md-button>
        </md-card-actions>
      </md-card>
</md-content>
</div>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js'></script>
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script  src="scripts/index.js"></script>
</body>
</html>
